*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.darkInvoiceField{
    /* position: absolute; */
width: 550px;
height: 719px;
left: 1368px;
top: 959px;

background: #1F2937;
}
.rectangle{


    position: absolute;
    width: 550px;
    height: 190px;
    left: 0px;
    top: 0px;
    
    background: #3A69D2;
    
    
}
.title{
    /* Heading */


position: absolute;
width: 354px;
height: 40px;
left: 98px;
top: 59px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */

text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;

}
.subtitle{
    /* Supporting text */


position: absolute;
width: 408px;
height: 31px;
left: 71px;
top: 108px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;

color: #FFFFFF;
}
.btn-1{
    /* Button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px;

position: absolute;
width: 143.17px;
height: 45px;
left: 38px;
top: 231px;

background: #D1D4F4;
border: 2px solid #FFFFFF;
border-radius: 7px;
}
.btn-2{
/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px;

position: absolute;
width: 140px;
height: 45px;
left: 203px;
top: 231px;

background: #D1D4F4;
border: 1px solid #D5D4D8;
box-sizing: border-box;
border-radius: 7px;
}
.btn-3{
    /* Button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px;

position: absolute;
width: 143.17px;
height: 45px;
left: 367.83px;
top: 231px;

background: #D1D4F4;
border: 1px solid #D5D4D8;
box-sizing: border-box;
border-radius: 7px;
}
.task{
    /* Supporting text */


position: absolute;
width: 95px;
height: 22px;
left: 39px;
top: 319px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */


color: #D5D4D8;
}
.total{

/* Supporting text */


position: absolute;
width: 78px;
height: 22px;
left: 432px;
top: 323px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */

text-align: right;

color: #D5D4D8;
}
.wash{
    /* Supporting text */


position: absolute;
width: 97px;
height: 21px;
left: 39px;
top: 360px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */


color: #F5F5F5;

}
.re1{
    /* Supporting text */


position: absolute;
width: 31px;
height: 20px;
left: 151px;
top: 361px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 20px;
/* identical to box height, or 250% */


color: #D5D4D8;

}
.washAmt{
    /* Supporting text */


position: absolute;
width: 71px;
height: 21px;
left: 441px;
top: 361px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 20px;
/* or 83% */

text-align: right;

color: #918E9B;

}
.Move{
    /* Supporting text */


position: absolute;
width: 106px;
height: 21px;
left: 39px;
top: 405px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */


color: #F5F5F5;

}
.re2{
    /* Supporting text */


position: absolute;
width: 31px;
height: 20px;
left: 160px;
top: 406px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 20px;
/* identical to box height, or 250% */


color: #D5D4D8;

}.line{
    /* Line 23 */


position: absolute;
width: 471px;
height: 0px;
left: 39px;
top: 391px;

border: 1px solid #C3C6DB;
}
.tot{
    /* Example */


position: absolute;
width: 105px;
height: 28px;
left: 405px;
top: 402px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 32px;
/* or 267% */

text-align: right;

color: #D5D4D8;


}